<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SaludoServlet</servlet-name>
        <servlet-class>controladores.SaludoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaludoServlet2</servlet-name>
        <servlet-class>controladores.SaludoServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaludoServlet3</servlet-name>
        <servlet-class>controladores.SaludoServlet3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaludoServlet4</servlet-name>
        <servlet-class>controladores.SaludoServlet4</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TutoriasServlet</servlet-name>
        <servlet-class>controladores.TutoriasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TutoriasServlet2</servlet-name>
        <servlet-class>datos.TutoriasServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RespuestaXML</servlet-name>
        <servlet-class>controladores.RespuestaXML</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SaludoServlet</servlet-name>
        <url-pattern>/SaludoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaludoServlet2</servlet-name>
        <url-pattern>/SaludoServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaludoServlet3</servlet-name>
        <url-pattern>/SaludoServlet3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaludoServlet4</servlet-name>
        <url-pattern>/SaludoServlet4</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TutoriasServlet</servlet-name>
        <url-pattern>/TutoriasServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TutoriasServlet2</servlet-name>
        <url-pattern>/TutoriasServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RespuestaXML</servlet-name>
        <url-pattern>/RespuestaXML</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
